@require 'layout/theme'
@require 'app/passage'
@require 'app/qa'

#title
  word-break break-all

.spacer
  padding 5px 0px

.para-wrap
  padding 20px 0px

.listContainer
  border-top 10px solid #eee
  .infoBody
    padding 10px 20px