@require 'layout/theme'
@require 'app/passage'
@require 'app/qa'
@require 'app/mailchimp'

#contentCover
  #performanceTable
    margin 10px 0px
    td:nth-child(3), th:nth-child(3)
      border-right 1px solid #ddd
    td, th
      text-align center
      max-width 250px
    td:nth-child(1), th:nth-child(1)
      text-align left
  ul.list-inline
    margin-left 0px
    text-align center
    li
      padding-left 2px
      padding-right 2px
  
  
