@require 'layout/theme'
@require 'app/passage'
@require 'app/qa'
@require 'app/mailchimp'

#contentCover
  .performanceTable
    margin 10px 0px
    .institution
      font-style italic
      font-weight 300
    .date
      font-weight normal
    tr.human-row
      background: whitesmoke
    td, th
      text-align center
      max-width 250px
  ul.list-inline
    margin-left 0px
    text-align center
    li
      padding-left 2px
      padding-right 2px  
