table.table.performanceTable
  tr
    th Model
    th Dev EM
    th Dev F1
  tr
    td Dynamic Chunk Ranker with Convolution layer (IBM)
    td 66.3
    td 74.7
  tr
    td Span Classifier (Google NYC)
    td 65.7
    td 74.7
  tr
    td Attentive Chunker (IBM)
    td 48.0
    td 64.5