table.table.performanceTable
  tr
    th Model
    th Dev EM
    th Dev F1
  tr
    td 
      | RaSoR (ensemble) (Google NY) <br>
      a(href="https://arxiv.org/abs/1611.01436") (Lee et al. '16)
    td 68.2
    td 76.7
  tr
    td 
      | RaSoR (Google NY) <br>
      a(href="https://arxiv.org/abs/1611.01436") (Lee et al. '16)
    td 66.4
    td 74.9
  tr
    td Dynamic Chunk Ranker with Convolution layer (IBM)
    td 66.3
    td 74.7
  tr
    td Attentive Chunker (IBM)
    td 48.0
    td 64.5