<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/TeMU-BSC/spanish-benchmark" data-icon="octicon-star" data-style="mega" data-count-href="/TeMU-BSC/spanish-benchmark/stargazers" data-count-api="/repos/TeMU-BSC/spanish-benchmark#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star TeMU-BSC/spanish-benchmark on GitHub">Star</a>
