#topNavbar.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container.clearfix#navContainer
    .rightNav
        .collapseDiv
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.glyphicon.glyphicon-menu-hamburger
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href="/")
                | Home
            li
              a(href="/explore/v2.0/dev/")
                | Explore 2.0
            li
              a(href="/explore/1.1/dev/")
                | Explore 1.1
    .leftNav
      .brandDiv
        a(href='/').navbar-brand
          | SQuAD
