table.table.performanceTable
  tr
    th Rank
    th Model
    th Test EM
    th Test F1
  tr
    td 1
    td
      | Dynamic Coattention Networks (ensemble) <br> Salesforce Research
    td 71.6
    td 80.4
  tr
    td 2
    td
      | BiDAF (ensemble) <br> Allen Institute for AI &amp; University of Washington <br>
      a(href="https://arxiv.org/abs/1611.01603") (Seo et al. '16)
    td 69.9
    td 78.1
  tr
    td 2
    td
      | r-net (ensemble) <br> Microsoft Research Asia
    td 69.4
    td 78.3
  tr
    td 4
    td Match-LSTM with Ans-Ptr (Boundary+Ensemble) <br> Singapore Management University
    td 67.9
    td 77.0
  tr
    td 5
    td
      | Dynamic Coattention Networks (single model) <br> Salesforce Research
    td 66.2
    td 75.9
  tr
    td 6
    td
      | r-net (single model) <br> Microsoft Research Asia
    td 65.5
    td 75.0
  tr
    td 7
    td Match-LSTM with Bi-Ans-Ptr (Boundary) <br> Singapore Management University
    td 64.7
    td 73.7
  tr
    td 8
    td 
      | Fine-Grained Gating <br> Carnegie Mellon University <br>
      a(href="https://arxiv.org/abs/1611.01724") (Yang et al. '16)
    td 62.5
    td 73.3
  tr
    td 9
    td
      | Dynamic Chunk Reader <br> IBM <br>
      a(href="https://arxiv.org/abs/1610.09996") (Yu &amp; Zhang et al. '16)
    td 62.5
    td 71.0
  tr
    td 10
    td
      | Match-LSTM with Ans-Ptr (Boundary) <br> Singapore Management University <br>
      a(href="http://arxiv.org/abs/1608.07905") (Wang &amp; Jiang '16)
    td 60.5
    td 70.7
  tr
    td 11
    td
      | Match-LSTM with Ans-Ptr (Sequence) <br> Singapore Management University <br>
      a(href="http://arxiv.org/abs/1608.07905") (Wang &amp; Jiang '16)
    td 54.5
    td 67.7
  tr
    td 12
    td
      |  Logistic Regression Baseline <br> Stanford University <br> 
      a(href="http://arxiv.org/abs/1606.05250") (Rajpurkar et al. '16)
    td 40.4
    td 51.0