table.table.performanceTable
  tr
    th Rank
    th Model
    th Test EM
    th Test F1
  tr
    td 1
    td
      | r-net (ensemble) <br> (Microsoft Research Asia)
    td 75.9
    td 82.9
  tr
    td 2
    td
      | Multi-Perspective Matching (diversity-ensemble) <br> IBM Research <br>
      a(href="https://arxiv.org/abs/1612.04211") (Wang et al. '16)
    td 73.8
    td 81.3
  tr
    td 3
    td
      | BiDAF (ensemble) <br> Allen Institute for AI &amp; University of Washington <br>
      a(href="https://arxiv.org/abs/1611.01603") (Seo et al. '16)
    td 73.3
    td 81.1
  tr
    td 4
    td
      | Dynamic Coattention Networks (ensemble) <br> Salesforce Research <br>
      a(href="https://arxiv.org/abs/1611.01604") (Xiong &amp; Zhong et al. '16)
    td 71.6
    td 80.4
  tr
    td 5
    td
      | r-net (single model) <br> Microsoft Research Asia
    td 71.3
    td 79.7
  tr
    td 6
    td
      | FastQAExt <br> German Research Center for Artificial Intelligence
    td 70.8
    td 78.9
  tr
    td 7
    td
      | Multi-Perspective Matching (single model) <br> IBM Research <br>
      a(href="https://arxiv.org/abs/1612.04211") (Wang et al. '16)
    td 68.9
    td 77.8
  tr
    td 8
    td jNet (single model) <br> USTC &amp; National Research Council Canada &amp; York University
    td 68.7
    td 77.4
  tr
    td 9
    td
      | BiDAF (single model) <br> Allen Institute for AI &amp; University of Washington <br>
      a(href="https://arxiv.org/abs/1611.01603") (Seo et al. '16)
    td 68.0
    td 77.3
  tr
    td 9
    td
      | FastQA <br> German Research Center for Artificial Intelligence
    td 68.4
    td 77.1
  tr
    td 10
    td Match-LSTM with Ans-Ptr Boundary (ensemble) <br> Singapore Management University
    td 67.9
    td 77.0
  tr
    td 11
    td
      | Dynamic Coattention Networks (single model) <br> Salesforce Research <br>
      a(href="https://arxiv.org/abs/1611.01604") (Xiong &amp; Zhong et al. '16)
    td 66.2
    td 75.9
  tr
    td 12
    td Match-LSTM with Bi-Ans-Ptr Boundary (single model) <br> Singapore Management University
    td 64.7
    td 73.7
  tr
    td 13
    td 
      | Fine-Grained Gating <br> Carnegie Mellon University <br>
      a(href="https://arxiv.org/abs/1611.01724") (Yang et al. '16)
    td 62.5
    td 73.3
  tr
    td 14
    td
      | Dynamic Chunk Reader <br> IBM <br>
      a(href="https://arxiv.org/abs/1610.09996") (Yu &amp; Zhang et al. '16)
    td 62.5
    td 71.0
  tr
    td 15
    td
      | Match-LSTM with Ans-Ptr (Boundary) <br> Singapore Management University <br>
      a(href="http://arxiv.org/abs/1608.07905") (Wang &amp; Jiang '16)
    td 60.5
    td 70.7
  tr
    td 16
    td
      | Match-LSTM with Ans-Ptr (Sequence) <br> Singapore Management University <br>
      a(href="http://arxiv.org/abs/1608.07905") (Wang &amp; Jiang '16)
    td 54.5
    td 67.7
  tr
    td 17
    td
      |  Logistic Regression Baseline <br> Stanford University <br> 
      a(href="http://arxiv.org/abs/1606.05250") (Rajpurkar et al. '16)
    td 40.4
    td 51.0