html
  body
    div
      if title
        h1=title
      each paragraph in paragraphs
        h2 #{paragraph.context}
        each qa in paragraph.qas
          h3 #{qa.question}
          each answer in qa.answers
            p #{answer.text}