extends layout

block title
  title SQuAD - the Stanford Question Answering Dataset

block description
  meta(name='description', content='SQuAD is the Stanford Question Answering Dataset')

block extralinks
  link(rel='stylesheet', href='/stylesheets/explore.css')

block extrascripts

block content
  .cover
    .container
      .row
        .col-md-8.col-md-offset-2
          .infoCard
            .infoBody
              .infoHeadline
                h1 Explore SQuAD
                h2 Version #{version}. Split #{split}.
              ul.list-unstyled
                each article in articles
                  li
                    a(href='/' + prefix + article + '.html')
                      | #{decodeURIComponent(article.split('/').pop())}