doctype html
//Author: Pranav Rajpurkar 2016
html
    head
        meta(charset='utf-8')
        block title
        block description
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(property='og:image', content='/logo.jpg')
        link(rel="image_src", type="image/jpeg", href="/logo.jpg")
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/favicon.ico', type='image/x-icon')
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/layout.css")
        block extralinks
    body
        //- include includes/nav
        //- include includes/topCover
        block content
        //- include includes/footer
        script(src="/bower_components/jquery/dist/jquery.min.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
        block extrascripts