.actionBtn:hover
  background-color $theme-color-dark
  border-color $theme-color-dark

.actionBtn
  display block
  margin 10px auto
  max-width 350px
  width 100%
  background-color $theme-color
  color #fff !important
  text-align center
  font-size 1.0em
  font-weight 600
  border 2px solid $theme-color
  border-radius 20px
  transition all .5s
  white-space normal

.inverseBtn
  background-color white
  color $theme-color !important
.inverseBtn:hover
  color white !important

.optionsBtn
  background-color $secondary-color !important
.optionsBtn:hover
  opacity 0.9

button:focus
  outline: none !important