.cover
  min-height 100%
  background #eee
  background-position center
  background-size cover
  position relative
  width 100%
  padding 30px 0px
  @media(max-width: 768px)
    padding 0px
  .headlinesWrap
    padding-bottom 10px
  h1
    font-weight 600
    margin 8px 0px
    font-size 2em
  h2
    font-weight 300
    font-size 1.3em
    margin 8px 0px
  p
    font-size 1.1em
    font-weight 400
  .vertical-center
    min-height 100%
    min-height 100vh
    display -webkit-box
    display -moz-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    -webkit-box-align center
    -webkit-align-items center
    -moz-box-align center
    -ms-flex-align center
    align-items center
    width 100%
    -webkit-box-pack center
    -moz-box-pack center
    -ms-flex-pack center
    -webkit-justify-content center
    justify-content center