.footer
  background-color $theme-gray
  border none
  border-radius 0px
  margin-bottom 0px
  padding 3px 0px
  height auto
  ul
    li
      a
        font-size 1em
        color #fff !important
      a:hover
        color #eee !important
  @media(min-width:768px)
    .rightNav
      float right