$theme-color=#4f9db1
$theme-color-dark=#136b82
$theme-color-light=#8970ef
//$theme-color=#ea4141
//$theme-color-dark=#cc4242
//$theme-color-light=#ea4141
$secondary-color=#29BB43
$theme-gray=#333
$theme-light-gray=#f4f4f4
