@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-hairline.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-hairline.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-hairline.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-hairline.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-hairline.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-hairlineitalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-hairlineitalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-hairlineitalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-hairlineitalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-hairlineitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-thin.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-thin.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-thin.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-thin.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-thinitalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-thinitalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-thinitalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-thinitalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-thinitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-light.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-light.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-light.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-light.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-lightitalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-lightitalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-lightitalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-lightitalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-lightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-regular.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-regular.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-regular.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-italic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-italic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-italic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-italic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-medium.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-medium.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-medium.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-medium.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-mediumitalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-mediumitalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-mediumitalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-mediumitalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-mediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-semibold.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-semibold.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-semibold.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-semibold.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-semibolditalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-semibolditalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-semibolditalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-semibolditalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-semibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-bold.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-bold.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-bold.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-bolditalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-bolditalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-bolditalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-bolditalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-bolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-heavy.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-heavy.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-heavy.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-heavy.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-heavy.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-heavyitalic.eot");
  src: url("//fonts/lato-heavyitalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-heavyitalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-heavyitalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-heavyitalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-black.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-black.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-black.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-black.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("/bower_components/lato-webfont/fonts/lato-blackitalic.eot");
  src: url("/bower_components/lato-webfont/fonts/lato-blackitalic.eot?#iefix") format("embedded-opentype"), url("/bower_components/lato-webfont/fonts/lato-blackitalic.woff2") format("woff2"), url("/bower_components/lato-webfont/fonts/lato-blackitalic.woff") format("woff"), url("/bower_components/lato-webfont/fonts/lato-blackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
.alert {
  color: #fff;
  background-color: #8970ef;
  font-weight: 600;
  padding: 10px;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
}
.alert-dismissible .close {
  position: static;
}
.cover {
  min-height: 100%;
  background: #eee;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  padding: 30px 0px;
}
@media (max-width: 768px) {
  .cover {
    padding: 0px;
  }
}
.cover .headlinesWrap {
  padding-bottom: 10px;
}
.cover h1 {
  font-weight: 600;
  margin: 8px 0px;
  font-size: 2em;
}
.cover h2 {
  font-weight: 300;
  font-size: 1.3em;
  margin: 8px 0px;
}
.cover p {
  font-size: 1.1em;
  font-weight: 400;
}
.cover .vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.infoCard {
  background: #fff;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .infoCard {
    box-shadow: 0px 0px 20px 2px rgba(120,120,120,0.1);
  }
}
.infoCard .infoSubheadline {
  background: #f3f3f3;
  padding: 20px 30px;
}
.infoCard .infoSubheadline h1,
.infoCard .infoSubheadline h2,
.infoCard .infoSubheadline p {
  color: #888;
}
.infoCard .infoSubheadline h1 {
  font-weight: 500;
}
.infoCard .infoSubheadline h2,
.infoCard .infoSubheadline p {
  font-weight: 400;
}
.infoCard .infoSubheadline.backgrounded {
  background: #8970ef;
}
.infoCard .infoSubheadline.backgrounded h1,
.infoCard .infoSubheadline.backgrounded h2,
.infoCard .infoSubheadline.backgrounded p {
  color: #fff;
}
.infoCard .actLink {
  background: #8970ef;
}
.infoCard .actLink h1,
.infoCard .actLink h2,
.infoCard .actLink p,
.infoCard .actLink a {
  color: #fff;
}
.infoCard .actLink:hover {
  opacity: 0.9;
}
.infoCard .infoBody {
  padding: 30px;
}
.infoCard .infoBody >.infoHeadline {
  margin: 15px 0px;
}
.infoCard .infoBody >.infoHeadline h1,
.infoCard .infoBody >.infoHeadline h2,
.infoCard .infoBody >.infoHeadline p {
  margin: 5px 0px;
  font-weight: 600;
  color: #333;
}
.infoCard .infoBody >.infoHeadline h1 {
  font-size: 1.8em;
}
.infoCard .infoBody >.infoHeadline h2 {
  font-size: 1.4em;
  padding-bottom: 2px;
  border-bottom: 2px solid #ddd;
}
.infoCard .infoBody h2 {
  font-weight: 600;
  color: #666;
  font-size: 1.6em;
}
.actionBtn:hover {
  background-color: #463494;
  border-color: #463494;
}
.actionBtn {
  display: block;
  margin: 10px auto;
  max-width: 350px;
  width: 100%;
  background-color: #6e54da;
  color: #fff !important;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  border: 2px solid #6e54da;
  border-radius: 20px;
  transition: all 0.5s;
  white-space: normal;
}
.inverseBtn {
  background-color: #fff;
  color: #6e54da !important;
}
.inverseBtn:hover {
  color: #fff !important;
}
.optionsBtn {
  background-color: #29bb43 !important;
}
.optionsBtn:hover {
  opacity: 0.9;
}
button:focus {
  outline: none !important;
}
@media (max-width: 768px) {
  #topNavbar {
    position: static;
  }
  body {
    padding-top: 0px !important;
  }
}
#topNavbar {
  border: none;
  background: #463494;
  margin-bottom: 0px;
}
#topNavbar .leftNav {
  overflow: visible;
  padding: 0px;
  padding-right: 10px;
}
#topNavbar .brandDiv {
  float: left;
  line-height: 100%;
}
#topNavbar .navbar-brand {
  color: #fff;
}
#topNavbar #navbar {
  border: none;
}
#topNavbar .navBtn {
  line-height: 20px;
  background: none;
  border: none;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-weight: 400;
  color: #fff;
}
#topNavbar .navbar-toggle {
  line-height: 30px;
  margin: 9px 0px;
  border: 0px;
  color: #fff;
  padding: 1px 4px;
  margin-left: 5px;
}
#topNavbar #navContainer {
  padding-left: 0px;
}
#topNavbar .navbar-right a,
#topNavbar .navbar-right a:hover {
  color: #fff !important;
}
#topNavbar .navbar-toggle:focus {
  background: none;
}
@media (max-width: 768px) {
  #topNavbar #brand {
    font-size: 1.2em;
  }
}
@media (min-width: 768px) {
  #topNavbar .rightNav {
    float: right;
  }
  #topNavbar .navBtn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#topCover {
  background: #6e54da;
  box-shadow: 0px -10px 20px 2px rgba(120,120,120,0.2) inset;
  min-height: initial;
}
#topCover #appTitle {
  color: #fff;
  font-size: 7.3em;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  text-align: center;
}
#topCover #appTitle b {
  font-weight: 400;
}
#topCover #appSubtitle {
  color: #fff;
  font-size: 2em;
  margin: 0px;
  padding: 0px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  #topCover #appTitle {
    font-size: 6em;
  }
}
.footer {
  background-color: #333;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 3px 0px;
  height: auto;
}
.footer ul li a {
  font-size: 1em;
  color: #fff !important;
}
.footer ul li a:hover {
  color: #eee !important;
}
@media (min-width: 768px) {
  .footer .rightNav {
    float: right;
  }
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 50px;
  letter-spacing: 0.005em;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
li,
a,
span,
pre {
  font-family: 'Lato', Arial, sans-serif;
  font-weight: 400;
}
p {
  margin: 0px;
}
body {
  background-color: #fff;
}
a {
  color: #6e54da;
}
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
  color: #463494;
}
ul {
  margin: 0px;
}
hr {
  margin: 20px auto;
}
@media (max-width: 768px) {
  .pad-side {
    padding: 0px 10px;
  }
}
@media (max-width: 768px) {
  [class*='col-'] {
    padding: 0px 0px;
  }
}
